RewriteEngine on

DirectorySlash Off

RewriteCond %{REQUEST_URI} \.(git|gitignore|htaccess)$
RewriteRule ^(.+)$ - [R=404]

RewriteCond %{REQUEST_URI} ^\/index\.php$
RewriteRule ^(.+)$ index.php?_bh_url=/ [QSA,L]

RewriteCond %{REQUEST_URI} \.(php|html|htm|inc)$ [NC]
RewriteRule ^(.+)$ index.php?_bh_url=/$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?_bh_url=/$1 [QSA,L]
