<?php
if(_BH_ !== true) exit;
use \BH_Common as CM;
use \BH_Application as App;

App::$parentLayout = '_Common';

App::CSSAdd('jquery-ui-1.10.1.css', 10);
App::CSSAdd('font-awesome/css/font-awesome.min.css', 10);
App::CSSAdd('nanumgothic.css', 10);
App::CSSAdd('admin.css'.CM::RefreshParam(), 10);

App::JSAdd('jquery-1.11.3.min.js', 10);
App::JSAdd('jquery.form.min.js', 10);
App::JSAdd('jquery-ui.min.js', 10);
App::JSAdd(\Paths::Url() . '/Common/common.js' . CM::RefreshParam(), 10);
App::JSAdd('contents.js' . CM::RefreshParam(), 10);
App::JSAdd('admin.js' . CM::RefreshParam(), 10);
?>

<div id="wrap"<?php if((isset($_COOKIE['managerSideView']) && $_COOKIE['managerSideView'] == 'no') || App::$controllerName == 'Home') echo ' class="sideHidden"'; ?>>
	<header id="header">
		<div id="header_wrap">
			<h1><a href="<?p. \Paths::UrlOfAdmin() ?>"><span>ADMINISTRATOR</span></a></h1>
			<nav id="gnb">
				<ul>
					<li class="home"><a href="<?p. \Paths::Url().'/' ?>" target="_blank">홈으로</a></li>
					<li class="logout"><a href="<?p. \Paths::UrlOfAdmin() ?>/Login/Logout">로그아웃</a></li>
					<?php if(\BHG::$session->member->level->Get() == _SADMIN_LEVEL){ ?>
					<li><a href="<?p. \Paths::UrlOfAdmin() ?>/Home/PHPInfo" target="_blank">PHPInfo()</a></li>
					<?php } ?>
				</ul>
			</nav>
			<nav id="tnb">
				<ul>
					<?php
					$NM = App::$data['NowMenu'];
					$AdminAuth = explode(',', CM::GetMember('admin_auth'));
					foreach(App::$settingData['AdminMenu'] as $c => $v){
						if(strlen($c) == 3 && (\BHG::$session->member->level->Get() == _SADMIN_LEVEL || in_array($c, $AdminAuth))){
							echo '<li '.(substr($NM,0,3) == $c ? ' class="Active"' : '').'>'
								.'<span><a href="'. \Paths::UrlOfAdmin().'/'.$v['Category'].'">'.$v['Name'].'</a></span>';

							$sub = '';

							foreach(App::$settingData['AdminMenu'] as $c2 => $v2){
								if(strlen($c2) == 6 && substr($c2, 0, 3) == $c && (\BHG::$session->member->level->Get() == _SADMIN_LEVEL || in_array($c2, $AdminAuth))){
									$sub .= '<li '.(substr($NM,0,6) == $c2 ? ' class="Active"' : '').'>'
										.'<span><a href="'. \Paths::UrlOfAdmin().'/'.$v2['Category'].'">'.$v2['Name'].'</a></span>';
								}
							}

							if(substr($v['Category'], 0, 12) == 'BoardManager'){
								$groupN = '';
								if(App::$settingData['GetUrl'][2] == 'Board'){
									$g_n = DB::GetQryObj(TABLE_BOARD_MNG)
										->SetKey('group_name')
										->AddWhere('bid = %s', App::$tid)
										->AddWhere('subid = %s', App::$sub_tid)
										->Get();
									if($g_n) $groupN = $g_n['group_name'];
								}
								foreach(DB::GetListQryObj(TABLE_BOARD_MNG)->SetKey('DISTINCT group_name')->GetRows() as $k => $row){
									$sub .= '<li '.(($row['group_name'] == Get('gn') || $row['group_name'] == $groupN) ? ' class="Active"' : '').'>'
										.'<span><a href="'. \Paths::UrlOfAdmin().'/BoardManager/?gn='.$row['group_name'].'">'.$row['group_name'].'</a></span>';
								}
							}

							if($sub) echo '<ol>'.$sub.'</ol>';
						}
					}
					?>
				</ul>
			</nav>
		</div>
	</header>
	<div id="container">
		<div id="container_wrap">
			<?p. App::$bodyHtml ?>
		</div>
	</div>
	<footer id="footer">
		<div id="footer_wrap"></div>
	</footer>
</div>
<?php if(App::$controllerName != 'Home'){ ?>
	<script>
		$(document).ready(function(){
			if(JCM.getCookie('managerSideView') == 'no'){
				$('#wrap').addClass('sideHidden');
			}

			$('#container_wrap').append('<aside id="sideMenu"><a href="#" id="sideClose" title="닫기"><i class="fa fa-angle-left"></i></a><h2>' + ( $('#tnb ul > li.Active').length ? $('#tnb ul > li.Active a').eq(0).text() : '' ) + '</h2><ul>'+( $('#tnb ul > li.Active ol').length ? $('#tnb ul > li.Active ol').html() : '' ) +'</ul></aside>')

			$(document).on('click', '#sideClose', function(e){
				e.preventDefault();
				if($('#wrap').hasClass('sideHidden')){
					$('#wrap').removeClass('sideHidden');
					JCM.setCookie('managerSideView', 'yes');
				}else{
					$('#wrap').addClass('sideHidden');
					JCM.setCookie('managerSideView', 'no');
				}
			});

			$('#container').scroll(function(){
				sideScroll();
			});

			sideScroll();
		});

		function sideScroll(){
			var st = $('#container').scrollTop();
			if(st < 0) st = 0;
			$('#sideMenu').css({
				'padding-top' : st + 'px'
			});
			$('#sideClose').css({
				'top' : (st + 10) + 'px'
			});
		}
	</script>
<?php } ?>
