<?php
if(_BH_ !== true) exit;
use \BH_Common as CF;
use \BH_Application as App;

ob_start();
App::CSSAdd('jquery-ui-1.10.1.css', 10);
App::CSSAdd('font-awesome/css/font-awesome.min.css', 10);
App::CSSAdd('nanumgothic.css', 10);
App::CSSAdd('common.css2?r='.CF::Config('Default', 'Refresh'), 10);
App::CSSAdd('admin.css2?r='.CF::Config('Default', 'Refresh'), 10);

App::JSAdd('jquery-1.11.3.min.js', 10);
App::JSAdd('jquery.form.min.js', 10);
App::JSAdd('jquery-ui.min.js', 10);
App::JSAdd('common.js', 10);
App::JSAdd('admin.js', 10);
?>
<?inc. '/Layout/_Header.html' ?>
<div id="wrap"<?php if(isset($_COOKIE['managerSideView']) && $_COOKIE['managerSideView'] == 'no') echo ' class="sideHidden"'; ?>>
	<header id="header">
		<div id="header_wrap">
			<h1><a href="<?p. _ADMINURL ?>"><span>ADMINISTRATOR</span></a></h1>
			<nav id="gnb">
				<ul>
					<li class="home"><a href="<?p. _URL.'/' ?>" target="_blank">홈으로</a></li>
					<li class="logout"><a href="<?p. _ADMINURL ?>/Login/Logout">로그아웃</a></li>
				</ul>
			</nav>
			<nav id="tnb">
				<ul>
					<?php
					$NM = App::$Data['NowMenu'];
					$AdminAuth = explode(',', CF::GetMember('admin_auth'));
					foreach(App::$SettingData['AdminMenu'] as $c => $v){
						if(strlen($c) == 3 && ($_SESSION['member']['level'] == _SADMIN_LEVEL || in_array($c, $AdminAuth))){
							echo '<li '.(substr($NM,0,3) == $c ? ' class="Active"' : '').'>'
								.'<span><a href="'. _ADMINURL.'/'.$v['Category'].'">'.$v['Name'].'</a></span>';

							$sub = '';
							foreach(App::$SettingData['AdminMenu'] as $c2 => $v2){
								if(strlen($c2) == 6 && substr($c2, 0, 3) == $c && ($_SESSION['member']['level'] == _SADMIN_LEVEL || in_array($c2, $AdminAuth))){
									$sub .= '<li '.(substr($NM,0,6) == $c2 ? ' class="Active"' : '').'>'
										.'<span><a href="'. _ADMINURL.'/'.$v2['Category'].'">'.$v2['Name'].'</a></span>';
								}
							}
							if($sub) echo '<ol>'.$sub.'</ol>';
						}
					}
					?>
				</ul>
			</nav>
		</div>
	</header>
	<div id="container">
		<div id="container_wrap">
			<?p. $_BODY ?>
		</div>
	</div>
	<footer id="footer">
		<div id="footer_wrap"></div>
	</footer>
</div>
<?php if(App::$ControllerName != 'Home'){ ?>
	<script>
		$(document).ready(function(){
			if(common.getCookie('managerSideView') == 'no'){
				$('#wrap').addClass('sideHidden');
			}

			$('#container_wrap').append('<aside id="sideMenu"><a href="#" id="sideClose" title="닫기"><i class="fa fa-angle-left"></i></a><h2>' + ( $('#tnb ul > li.Active').length ? $('#tnb ul > li.Active a').eq(0).text() : '' ) + '</h2><ul>'+( $('#tnb ul > li.Active ol').length ? $('#tnb ul > li.Active ol').html() : '' ) +'</ul></aside>')

			$(document).on('click', '#sideClose', function(e){
				e.preventDefault();
				if($('#wrap').hasClass('sideHidden')){
					$('#wrap').removeClass('sideHidden');
					common.setCookie('managerSideView', 'yes');
				}else{
					$('#wrap').addClass('sideHidden');
					common.setCookie('managerSideView', 'no');
				}
			});

			$('#container').scroll(function(){
				sideScroll();
			});

			sideScroll();
		});

		function sideScroll(){
			var st = $('#container').scrollTop();
			if(st < 0) st = 0;
			$('#sideMenu').css({
				'padding-top' : st + 'px'
			});
			$('#sideClose').css({
				'top' : (st + 10) + 'px'
			});
		}
	</script>
<?php } ?>

<?p. _REFRESH_BTN ?>
<?inc. '/Layout/_Footer.html' ?>
<?php
$_BODY = ob_get_clean();
?>
