<?php
if(_BH_ !== true) exit;
use \BH_Common as CM;
use \BH_Application as App;
?>
<!DOCTYPE html>
<html>
<head>

	<title><?p. App::$Title ? App::$Title.' - ' : '' ?><?p. CM::Config('Default','SiteName') ?></title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, user-scalable=no">

	<?p. App::CSSPrint() ?>

	<!--[if lt IE 9]>
	<script src="<?p. _SKINURL ?>/js/html5shiv.min.js"></script>
	<script src="<?p. _SKINURL ?>/js/respond.min.js"></script>
	<script src="<?p. _SKINURL ?>/js/selectivizr-min.js"></script>
	<![endif]-->

	<?p. App::JSPrint() ?>

</head>

<body>

<?p. APP::$BodyHtml ?>

</body>
</html>