<?php
if(_BH_ !== true) exit;

use \BH_Common as CM;
use \BH_Application as App;

App::$parentLayout = '_Common';
App::CSSAdd('jquery-ui-1.10.1.css', 10);
App::CSSAdd('font-awesome/css/font-awesome.min.css', 10);
App::CSSAdd('nanumgothic.css', 10);
App::CSSAdd('style.css' . CM::RefreshParam(), 10);

App::JSAdd('jquery-1.11.3.min.js', 10);
App::JSAdd('jquery.form.min.js', 10);
App::JSAdd('jquery-ui.min.js', 10);
App::JSAdd(\Paths::Url() . '/Common/common.js' . CM::RefreshParam(), 10);
App::JSAdd('contents.js' . CM::RefreshParam(), 11);

$cfg = App::$cfg->Def();

App::$settingData['headMeta'] = '' . $cfg->addHead->value;

$menuHelp = \Common\MenuHelp::GetInstance();
$activeCategory = $menuHelp->GetActiveCategory();
if($activeCategory){
	$menus = $menuHelp->GetParentsMenuByCate($activeCategory);
	$firstActiveMenu = reset($menus);
}
?>

<div id="wrap">
	<header id="header">
		<div id="header_wrap">
			<h1>
				<a href="<?p. \Paths::Url() ?>/">
					<?php if($cfg->logoUrl->value){ ?>
						<img src="<? p.Paths::UrlOfUpload().$cfg->logoUrl->value ?>" alt="로고">
					<?php }else{ ?>
						<i><img src="/Skin/images/logo.png"></i> <span>BH BOARD</span>
					<?php } ?>
				</a>
			</h1>

			<nav id="gnb">
				<ul>
					<?php if(\BHG::$isMember === true){ ?>
						<li><a href="<?p. \Paths::Url() ?>/Login/Logout">로그아웃</a></li>
						<li><a href="<?p. \Paths::Url() ?>/MyPage">마이페이지</a></li>
						<?php if($_SESSION['member']['level'] >= _ADMIN_LEVEL){ ?><li class="admin"><a href="<?p. \Paths::UrlOfAdmin() ?>" target="_blank">Admin</a></li><?php } ?>
					<?php }
					else{ ?>
						<li><a href="<?p. \Paths::Url() ?>/Login/Register">회원가입</a></li>
						<li><a href="<?p. \Paths::Url() ?>/Login?r_url=<?v. EmptyGet('r_url') ? urlencode($_SERVER['REQUEST_URI']) : Get('r_url') ?>">로그인</a></li>
						<li><a href="<?p. \Paths::Url() ?>/Login/FindID">ID/PW 찾기</a></li>
					<?php } ?>
				</ul>
			</nav>
			<nav id="tnb">
					<?php echo $menuHelp->Reset()->SetHead('<ul>')->SetTail('</ul>')->Html($menuHelp->GetRootCategory(), function($subCategory) use ($menuHelp){
						return $menuHelp->SetHead('<ol>')->SetTail('</ol>')->Html($subCategory);
					});
					?>
				</ul>
			</nav>
		</div>
	</header>

	<div id="container" class="<?p. App::$controllerName ?>Container <?p. App::$controllerName.App::$action ?>Container">
		<div id="container_wrap">

			<?php
			if(strlen($activeCategory)){
				echo $menuHelp->Reset()->SetHead('<div id="lnb"><h2>' . GetDBText($firstActiveMenu['title']) . '</h2><nav><ul>')
					->SetTail('</ul></nav></div>')
					->Html($firstActiveMenu['category']);
			}
			?>

			<?p. App::$bodyHtml ?>
		</div>
	</div>

	<footer id="footer">
		<nav id="fnb">
			<ul>
				<li><a href="<?p. \Paths::Url() ?>/Contents/introduce">회사소개</a></li>
				<li><a href="<?p. \Paths::Url() ?>/Contents/privacy">개인정보보호정책</a></li>
				<li><a href="<?p. \Paths::Url() ?>/Contents/terms">이용약관</a></li>
			</ul>
		</nav>

		<div id="footerInfo">
			<h1 class="footerLogo">
				<?php if($cfg->footLogoUrl->value){ ?>
					<img src="<? p.Paths::UrlOfUpload().$cfg->footLogoUrl->value ?>" alt="로고">
				<?php }else echo $cfg->siteName->value; ?>
			</h1>
			<dl class="company">
				<dt>회사명</dt>
				<dd><?v. $cfg->company->value ?></dd>
			</dl>
			<dl class="ceo">
				<dt>대표</dt>
				<dd><?v. $cfg->ceo->value ?></dd>
			</dl>
			<dl class="tel">
				<dt>연락처</dt>
				<dd><?v. $cfg->tel->value ?></dd>
			</dl>
			<dl class="fax">
				<dt>팩스</dt>
				<dd><?v. $cfg->fax->value ?></dd>
			</dl>
			<dl class="email">
				<dt>이메일</dt>
				<dd><?v. $cfg->email->value ?></dd>
			</dl>
			<dl class="address">
				<dt>주소</dt>
				<dd><?v. $cfg->address1->value ?>&nbsp;<?v. $cfg->address2->value ?></dd>
			</dl>
			<dl class="bNum">
				<dt>사업자등록번호</dt>
				<dd><?v. $cfg->bNumber->value ?></dd>
			</dl>
			<dl class="oNum">
				<dt>통신판매업 신고번호</dt>
				<dd><?p. $cfg->oNumber->value ?></dd>
			</dl>
			<div class="copyright">
				<?p. $cfg->copyright->value ? $cfg->copyright->value : '2018 &copy; <b>BH Board</b> All Right Reserved.' ?>
			</div>
		</div>
	</footer>
</div>
