<?php
if(_BH_ !== true) exit;
use \BH_Common as CM;
use \BH_Application as App;

App::$parentLayout = '_Default';
?>
<div id="lnb" class="MyPage">
	<h2>마이페이지</h2>
	<nav>
		<ul>
			<li<?p. App::$Action == 'MyInfo' ? ' class="active"' : '' ?>><a href="<?a. 'MyInfo' ?>">회원정보 수정</a></li>
			<li<?p. App::$Action == 'Scrap' ? ' class="active"' : '' ?>><a href="<?a. 'Scrap' ?>">스크랩한 게시물</a></li>
			<li<?p. App::$Action == 'Withdraw' ? ' class="active"' : '' ?>><a href="<?a. 'Withdraw' ?>">회원탈퇴</a></li>
		</ul>
	</nav>
</div>

<div id="contents" class="MyPage">
	<?p. App::$BodyHtml ?>
</div>
