<?php
if(_BH_ !== true) exit;
use \BH_Common as CM;
use \BH_Application as App;

App::$parentLayout = '_Default';
?>
<div id="lnb" class="MyPage">
	<h2>마이페이지</h2>
	<nav>
		<ul>
			<li<?p. App::$action == 'MyInfo' ? ' class="active"' : '' ?>><a href="<?p. \Paths::Url() . '/MyPage/MyInfo' ?>">회원정보 수정</a></li>
			<li<?p. App::$controllerName == 'Message' ? ' class="active"' : '' ?>><a href="<?p. \Paths::Url() . '/Message' ?>">쪽지함</a></li>
			<li<?p. App::$action == 'Scrap' ? ' class="active"' : '' ?>><a href="<?p. \Paths::Url() . '/MyPage/Scrap' ?>">스크랩한 게시물</a></li>
			<li<?p. App::$action == 'BlockList' ? ' class="active"' : '' ?>><a href="<?p. \Paths::Url() . '/MyPage/BlockList' ?>">차단회원관리</a></li>
			<li<?p. App::$action == 'Withdraw' ? ' class="active"' : '' ?>><a href="<?p. \Paths::Url() . '/MyPage/Withdraw' ?>">회원탈퇴</a></li>
		</ul>
	</nav>
</div>

<div id="contents" class="MyPage">
	<?p. App::$bodyHtml ?>
</div>
